.header {
  height: 60px;
  background-color: black;
}

.container {
  display: flex;
  width: 1170px;
  height: 60px;
  margin: auto;
  align-items: center;
  justify-content: space-between;

}

.search-wrapper {
  background-color: #ffffff5e;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}


.search-wrapper input {
  background-color: transparent;
  border: 0;
  width: 400px;
  outline: 0;
  color: #fff;
  text-align: center;
  margin-left: 10px;
}

::placeholder {
  color: white;
}

.header-btn {
  background-color: transparent;
  border: 0;
  padding: 6px 14px;
  margin-left: 20px;
  font-weight: 500;
  border-radius: 2px;
  color: white;
}

.register-btn {
  background-color: white;
  color: #333;
}